### This notebook contains solutions for practice exercises for Part 1 of Python libraries: 
#### 1) Numpy
#### 2) Pandas

# Numpy

In [0]:
# Import Numpy
import numpy as np

#### Exercise 1: Create an array of 64 values starting with 10 and ending with 15 and assign it to x

#### **Remember**: The third parameter to linspace is the number of values to obtain from the real line interval starting from 10 to 15 in this case.

In [8]:
# Exercise 1 solution:
x = np.linspace(10,15,64)
x

array([10.        , 10.07936508, 10.15873016, 10.23809524, 10.31746032,
       10.3968254 , 10.47619048, 10.55555556, 10.63492063, 10.71428571,
       10.79365079, 10.87301587, 10.95238095, 11.03174603, 11.11111111,
       11.19047619, 11.26984127, 11.34920635, 11.42857143, 11.50793651,
       11.58730159, 11.66666667, 11.74603175, 11.82539683, 11.9047619 ,
       11.98412698, 12.06349206, 12.14285714, 12.22222222, 12.3015873 ,
       12.38095238, 12.46031746, 12.53968254, 12.61904762, 12.6984127 ,
       12.77777778, 12.85714286, 12.93650794, 13.01587302, 13.0952381 ,
       13.17460317, 13.25396825, 13.33333333, 13.41269841, 13.49206349,
       13.57142857, 13.65079365, 13.73015873, 13.80952381, 13.88888889,
       13.96825397, 14.04761905, 14.12698413, 14.20634921, 14.28571429,
       14.36507937, 14.44444444, 14.52380952, 14.6031746 , 14.68253968,
       14.76190476, 14.84126984, 14.92063492, 15.        ])

#### Exercise 2: Reshape x into a 3-Dimensional Array

In [9]:
# Exercise 2 solution:

# Find the shape of x
print(x.shape)

# Do reshaping to a 3 D array
x = x.reshape(4,4,4)

# Print the new shape
print(x.shape)

(64,)
(4, 4, 4)


#### Exercise 3: Get the slice with first row of x (Numpy array slicing)

In [15]:
# Exercise 3 solution

# First row
print(x[:1,])

# Second row
print(x[1,])

# First 2 rows
print(x[:2,])

(1, 4, 4)
(4, 4)
(2, 4, 4)

# Pandas

##### Note: Basics can be found [link here](https://colab.research.google.com/drive/1qm3w99JlIe7wOJikRrb37kJMJYDyqqCR)

#### Loading libraries and dataset

In [17]:
import pandas as pd

# Loading the titanic dataset from internet
df = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv") 

print(df)

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

## Practice section 1: Knowing your data

#### Exercise 1: Getting the first 10 rows of the dataset

In [0]:
#Solution
df.head(10)

#### Exercise 2: What is the number of observations in the dataset ?

In [30]:
print(df.shape[0])
df.info()

891
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null object
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null object
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), float64(2), int64(4), object(7)
memory usage: 92.4+ KB

#### Exercise 3: What is the number of columns in the dataset?

In [32]:
# Exercise 3 solution
print(df.shape[1])

15

#### Exercise 4: What are the names of columns ?

In [31]:
# Exercise 4 solution
df.columns

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

#### Exercise 5: How is the dataset indexed ?

In [33]:
# Exercise 5 solution
df.index

RangeIndex(start=0, stop=891, step=1)

342

#### Exercise 6: How many people survived?

In [0]:
# Exercise 6 solution
total_survived = df.survived.sum()
total_survived

#### Exercise 7: Print unique towns in Embark town field ?

In [35]:
# Exercise 7 solution
embark_town_list = df['embark_town'].unique()
embark_town_list

array(['Southampton', 'Cherbourg', 'Queenstown', nan], dtype=object)

#### Exercise 8: Find the data type of age field ?

In [36]:
# Exercise 8 solution
df.age.dtype

dtype('float64')

#### Exercise 9: Find the distribution of values in the alive field ?

In [38]:
# Exercise 9 solution
df.alive.value_counts()

no     549
yes    342
Name: alive, dtype: int64

#### Exercise 10: What is the town with most passengers ?

In [40]:
# Exercise 10 solution
# Top town name
df.embark_town.value_counts().head(1).index[0]

# Top 3 
df.embark_town.value_counts().head(3)

Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

#### Exercise 11: Summarise the dataframe

In [43]:
# Exercise 11 solution
df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

#### Exercise 12: Summarise all the columns

In [44]:
# Exercise 12 solution
# Summarise all the columns. Notice: By default, only the numeric columns are returned.
df.describe(include = "all")

          survived      pclass   sex         age  ...  deck  embark_town  alive alone
count   891.000000  891.000000   891  714.000000  ...   203          889    891   891
unique         NaN         NaN     2         NaN  ...     7            3      2     2
top            NaN         NaN  male         NaN  ...     C  Southampton     no  True
freq           NaN         NaN   577         NaN  ...    59          644    549   537
mean      0.383838    2.308642   NaN   29.699118  ...   NaN          NaN    NaN   NaN
std       0.486592    0.836071   NaN   14.526497  ...   NaN          NaN    NaN   NaN
min       0.000000    1.000000   NaN    0.420000  ...   NaN          NaN    NaN   NaN
25%       0.000000    2.000000   NaN   20.125000  ...   NaN          NaN    NaN   NaN
50%       0.000000    3.000000   NaN   28.000000  ...   NaN          NaN    NaN   NaN
75%       1.000000    3.000000   NaN   38.000000  ...   NaN          NaN    NaN   NaN
max       1.000000    3.000000   NaN   80.000000  ...   NaN          NaN    NaN   NaN

[11 rows x 15 columns]

#### Exercise 13: Summarize only the survived column

In [46]:
# Exercise 13 solution
df.survived.describe()

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: survived, dtype: float64

#### Exercise 14: What is the mean age of passengers?

In [47]:
# Exercise 14 solution
round(df.age.mean())

30

#### Exercise 15: What is the age with least occurrence?

In [50]:
# Exercise 15 solution
df.age.value_counts().tail()

55.50    1
70.50    1
66.00    1
23.50    1
0.42     1
Name: age, dtype: int64

## Practice section 2: Filtering and Sorting

#### Loading the nations dataset

In [52]:
# Loading the titanic dataset from internet
df = pd.read_csv("https://raw.githubusercontent.com/vamsivarma/datasets/master/data_science/pandas/nations.csv") 

#print(df)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5275 entries, 0 to 5274
Data columns (total 11 columns):
iso2c                 5250 non-null object
iso3c                 5275 non-null object
country               5275 non-null object
year                  5275 non-null int64
gdp_percap            4509 non-null float64
life_expect           4882 non-null float64
population            5261 non-null float64
birth_rate            4980 non-null float64
neonat_mortal_rate    4750 non-null float64
region                5275 non-null object
income                5275 non-null object
dtypes: float64(5), int64(1), object(5)
memory usage: 453.4+ KB

#### Exercise 1: Sort the dataset by country name

In [53]:
# Exercise 1 solution
df.country.sort_values()

# OR

df.sort_values(by = "country")

     iso2c iso3c  ...              region      income
74      AF   AFG  ...          South Asia  Low income
72      AF   AFG  ...          South Asia  Low income
71      AF   AFG  ...          South Asia  Low income
70      AF   AFG  ...          South Asia  Low income
69      AF   AFG  ...          South Asia  Low income
...    ...   ...  ...                 ...         ...
5251    ZW   ZWE  ...  Sub-Saharan Africa  Low income
5250    ZW   ZWE  ...  Sub-Saharan Africa  Low income
5273    ZW   ZWE  ...  Sub-Saharan Africa  Low income
5261    ZW   ZWE  ...  Sub-Saharan Africa  Low income
5274    ZW   ZWE  ...  Sub-Saharan Africa  Low income

[5275 rows x 11 columns]

#### Exercise 2: Country with highest population

In [57]:
# Exercise 2 solution

# Country name with highest population
df.sort_values(by = "population", ascending = False).head(1)

# Top 5 country names by population
df.sort_values(by = "population", ascending = False).head(100)['country'].unique()

array(['China', 'India', 'United States', 'Indonesia', 'Brazil'],
      dtype=object)

#### Exercise 3: Find the number of times China is there in the country coulumn in the dataset

In [58]:
china_records = df[df.country == "China"]

len(china_records)

25

#### Exercise 4: View only the columns country, year, life_expect, birth_rate and assign them to a dataframe called filtered_df

In [59]:
# Exercise 4 solution
# Filter only giving the column names
filtered_df = df[['country', 'year', 'life_expect', 'birth_rate']]
filtered_df

       country  year  life_expect  birth_rate
0      Andorra  1996          NaN      10.900
1      Andorra  1994          NaN      10.900
2      Andorra  2003          NaN      10.300
3      Andorra  1990          NaN      11.900
4      Andorra  2009          NaN       9.900
...        ...   ...          ...         ...
5270  Zimbabwe  2010    49.574659      36.267
5271  Zimbabwe  2011    51.600366      36.264
5272  Zimbabwe  2012    53.643073      36.077
5273  Zimbabwe  2013    55.633000      35.715
5274  Zimbabwe  2014    57.498317      35.189

[5275 rows x 4 columns]

#### Exercise 5: Sort the dataset by life_expect and then by birth_rate

In [60]:
filtered_df.sort_values(['life_expect', 'birth_rate'], ascending = False)

                   country  year  life_expect  birth_rate
1937  Hong Kong SAR, China  2014    83.980488         8.6
1947  Hong Kong SAR, China  2013    83.831707         7.9
2360                 Japan  2014    83.587805         8.0
1933  Hong Kong SAR, China  2012    83.480488        12.8
1942  Hong Kong SAR, China  2011    83.421951        13.5
...                    ...   ...          ...         ...
4870                Tuvalu  1998          NaN         NaN
4871                Tuvalu  1999          NaN         NaN
4872                Tuvalu  2006          NaN         NaN
4873                Tuvalu  2005          NaN         NaN
4874                Tuvalu  2004          NaN         NaN

[5275 rows x 4 columns]

#### Exercise 6: Filter the top 5 countries which have life expectancy more than 75

In [64]:
filtered_df = df[df.life_expect > 75]

# Get the top 5 country names
filtered_df['country'].unique()[:5]

array(['United Arab Emirates', 'Antigua and Barbuda', 'Albania',
       'Argentina', 'Austria'], dtype=object)

#### Exercise 7: Find the country names which start with G

In [66]:
filtered_df = df[df.country.str.startswith('G')]

# Get the country names
filtered_df['country'].unique()

array(['Germany', 'Gabon', 'Grenada', 'Georgia', 'Ghana', 'Gibraltar',
       'Greenland', 'Gambia, The', 'Guinea', 'Greece', 'Guatemala',
       'Guam', 'Guinea-Bissau', 'Guyana'], dtype=object)

#### Exercise 8: Select the first 7 columns

In [67]:
df.iloc[: , 0:7]

     iso2c iso3c   country  year   gdp_percap  life_expect  population
0       AD   AND   Andorra  1996          NaN          NaN     64291.0
1       AD   AND   Andorra  1994          NaN          NaN     62707.0
2       AD   AND   Andorra  2003          NaN          NaN     74783.0
3       AD   AND   Andorra  1990          NaN          NaN     54511.0
4       AD   AND   Andorra  2009          NaN          NaN     85474.0
...    ...   ...       ...   ...          ...          ...         ...
5270    ZW   ZWE  Zimbabwe  2010  1360.876026    49.574659  13973897.0
5271    ZW   ZWE  Zimbabwe  2011  1523.621784    51.600366  14255592.0
5272    ZW   ZWE  Zimbabwe  2012  1679.125594    53.643073  14565482.0
5273    ZW   ZWE  Zimbabwe  2013  1743.210783    55.633000  14898092.0
5274    ZW   ZWE  Zimbabwe  2014  1798.059812    57.498317  15245855.0

[5275 rows x 7 columns]

#### Exercise 9: Select all columns except the last 3.

In [68]:
df.iloc[: , :-3]

     iso2c iso3c   country  ...  life_expect  population  birth_rate
0       AD   AND   Andorra  ...          NaN     64291.0      10.900
1       AD   AND   Andorra  ...          NaN     62707.0      10.900
2       AD   AND   Andorra  ...          NaN     74783.0      10.300
3       AD   AND   Andorra  ...          NaN     54511.0      11.900
4       AD   AND   Andorra  ...          NaN     85474.0       9.900
...    ...   ...       ...  ...          ...         ...         ...
5270    ZW   ZWE  Zimbabwe  ...    49.574659  13973897.0      36.267
5271    ZW   ZWE  Zimbabwe  ...    51.600366  14255592.0      36.264
5272    ZW   ZWE  Zimbabwe  ...    53.643073  14565482.0      36.077
5273    ZW   ZWE  Zimbabwe  ...    55.633000  14898092.0      35.715
5274    ZW   ZWE  Zimbabwe  ...    57.498317  15245855.0      35.189

[5275 rows x 8 columns]

#### Set the column country as the index of dataframe

In [72]:
df.set_index('country', inplace=True)

         iso2c iso3c  ...                 region       income
country               ...
Andorra     AD   AND  ...  Europe & Central Asia  High income
Andorra     AD   AND  ...  Europe & Central Asia  High income
Andorra     AD   AND  ...  Europe & Central Asia  High income
Andorra     AD   AND  ...  Europe & Central Asia  High income
Andorra     AD   AND  ...  Europe & Central Asia  High income
...        ...   ...  ...                    ...          ...
Zimbabwe    ZW   ZWE  ...     Sub-Saharan Africa   Low income
Zimbabwe    ZW   ZWE  ...     Sub-Saharan Africa   Low income
Zimbabwe    ZW   ZWE  ...     Sub-Saharan Africa   Low income
Zimbabwe    ZW   ZWE  ...     Sub-Saharan Africa   Low income
Zimbabwe    ZW   ZWE  ...     Sub-Saharan Africa   Low income

[5275 rows x 10 columns]

#### Exercise 10: Find the Life_Expect, GDP_PERCAP from India and Italy

In [73]:
df.loc[["India", "Italy"], ["life_expect", "gdp_percap", "year"]]

         life_expect    gdp_percap  year
country
India      58.438220   1172.563612  1991
India      62.227073   1915.390649  1999
India      63.019854   2105.841013  2001
India      63.399195   2182.244557  2002
India      58.945073   1239.995548  1992
India      61.807220   1764.878225  1998
India      65.300439   3484.756463  2007
India      66.904171   4634.945162  2011
India      62.630634   1998.488658  2000
India      61.369561   1674.869744  1997
India      68.013805   5672.189444  2014
India      64.523878   2860.885701  2005
India      57.943732   1146.027972  1990
India      63.774537   2361.334849  2003
India      64.147805   2576.537621  2004
India      66.506146   4315.440046  2010
India      64.908098   3172.707329  2006
India      60.444366   1500.681341  1995
India      60.915610   1612.534898  1996
India      66.102634   3920.160542  2009
India      59.452927   1303.896725  1993
India      67.289878   4921.842308  2012
India      67.660415   5267.826611  2013
India      59.954829   1393.002443  1994
India      65.699439   3637.756094  2008
Italy      77.419512  19745.087505  1992
Italy      81.434146  33711.952791  2007
Italy      77.921951  20892.267448  1994
Italy      78.824390  23434.277302  1997
Italy      77.721951  20030.218561  1993
Italy      79.424390  25158.418996  1999
Italy      81.282927  31953.460353  2006
Italy      82.690244  35707.831111  2013
Italy      78.975610  24660.122947  1998
Italy      76.970732  18272.859799  1990
Italy      77.019512  19158.287157  1991
Italy      79.982927  28462.037127  2003
Italy      80.782927  29652.756371  2005
Italy      81.485366  35170.896459  2008
Italy      82.036585  34714.526855  2010
Italy      78.170732  21943.349868  1995
Italy      78.521951  22645.142858  1996
Italy      82.690244  35419.395308  2014
Italy      80.126829  28246.798320  2001
Italy      82.187805  35870.713772  2011
Italy      82.239024  35899.779966  2012
Italy      80.780488  28770.967269  2004
Italy      79.778049  26640.217007  2000
Italy      80.229268  27898.470609  2002
Italy      81.636585  34142.338499  2009

#### Exercise 11: Select the rows 3 to 7 and the columns 3 to 6

In [74]:
df.iloc[2:7, 2:6]

         year  gdp_percap  life_expect  population
country
Andorra  2003         NaN          NaN     74783.0
Andorra  1990         NaN          NaN     54511.0
Andorra  2009         NaN          NaN     85474.0
Andorra  2011         NaN          NaN     82326.0
Andorra  2004         NaN          NaN     78337.0

#### Exercise 12: Select every row after the fourth row and all columns

In [0]:
df.iloc[4:, :]

#### Exercise 13: Select every row up to the 4th row and all columns

In [0]:
df.iloc[:4, :]

#### Exercise 14: Select the 3rd column up to the 7th column

In [0]:
df.iloc[:, 2:7]

#### Exercise 15: Select rows where life_expect is greater than 50 or less than 70

In [77]:
#Select rows where df.deaths is greater than 500 or less than 50Â¶
df[(df["life_expect"] > 50) | (df["life_expect"] < 70)]

                     iso2c iso3c  ...                      region       income
country                           ...
United Arab Emirates    AE   ARE  ...  Middle East & North Africa  High income
United Arab Emirates    AE   ARE  ...  Middle East & North Africa  High income
United Arab Emirates    AE   ARE  ...  Middle East & North Africa  High income
United Arab Emirates    AE   ARE  ...  Middle East & North Africa  High income
United Arab Emirates    AE   ARE  ...  Middle East & North Africa  High income
...                    ...   ...  ...                         ...          ...
Zimbabwe                ZW   ZWE  ...          Sub-Saharan Africa   Low income
Zimbabwe                ZW   ZWE  ...          Sub-Saharan Africa   Low income
Zimbabwe                ZW   ZWE  ...          Sub-Saharan Africa   Low income
Zimbabwe                ZW   ZWE  ...          Sub-Saharan Africa   Low income
Zimbabwe                ZW   ZWE  ...          Sub-Saharan Africa   Low income

[4882 rows x 10 columns]

### Practice section 3: Grouping

#### Exercise 1: Find the mean of life_expect by region

In [84]:
df.groupby(['region']).life_expect.mean()

region
East Asia & Pacific           70.507927
Europe & Central Asia         74.272763
Latin America & Caribbean     71.882016
Middle East & North Africa    71.611809
North America                 78.480261
South Asia                    64.479899
Sub-Saharan Africa            53.957818
Name: life_expect, dtype: float64

#### Exercise 2: Find the mean, median min and max values for life_expect grouped by region

In [86]:
df.groupby('region').life_expect.agg(['mean', 'min', 'max', 'median'])

                                 mean        min        max     median
region
East Asia & Pacific         70.507927  48.484732  83.980488  70.690622
Europe & Central Asia       74.272763  62.301585  83.323215  74.858537
Latin America & Caribbean   71.882016  54.569317  81.496195  72.414829
Middle East & North Africa  71.611809  56.663171  82.153659  72.296415
North America               78.480261  74.029512  81.956610  78.482927
South Asia                  64.479899  49.861049  76.772829  64.431305
Sub-Saharan Africa          53.957818  27.078902  74.226829  53.561537

#### Exercise 3: Find the mean, median min and max values for life_expect grouped by region and year

In [0]:
df.groupby(['region','year']).life_expect.agg(['mean', 'min', 'max', 'median'])

### Practice section 4: Apply

#### Exercise 1: Add a new column, "life_expect_range" to the dataset and if a row has life_expect more than 70, the value will of that column will be Good, if the life_expect is between 50 and 70 then the value will be Normal, if the life_expect is less than 50 then the value is Low

In [88]:
def life_expect_range(x):
    if x >= 70:
      return 'Good'
    elif x > 50:
      return 'Normal'
    else:
      return 'Low'

df['life_expect_range'] = df['life_expect'].apply(life_expect_range)
df.head(50)

                     iso2c iso3c  ...       income  life_expect_range
country                           ...
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
Andorra                 AD   AND  ...  High income                Low
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good
United Arab Emirates    AE   ARE  ...  High income               Good

[50 rows x 11 columns]

#### Useful references
https://github.com/guipsamora/pandas_exercises - Includes a lot of practice exercises for Pandas